<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
  <div *ngFor="let child of items">
    <div *ngIf="child.children && child.children.length > 0">
      <button
        mat-menu-item
        color="primary"
        [matMenuTriggerFor]="menu.childMenu"
      >
        <mat-icon>{{ child.iconName }}</mat-icon>
        <span>{{ child.displayName }}</span>
      </button>
      <mms-menu-item #menu [items]="child.children"></mms-menu-item>
    </div>
    <div *ngIf="!child.children || child.children.length === 0">
      <button mat-menu-item>
        <mat-icon>{{ child.iconName }}</mat-icon>
        <span>{{ child.displayName }}</span>
      </button>
    </div>
  </div>
</mat-menu>
